/*font-family: 'Bangers', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    font-family: 'Roboto', sans-serif;
    /*background: linear-gradient(black, white);*/
}

.display_none {
    display: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-family: 'Bangers', cursive;
}

.search {
    width:100vw;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.header {
    background: url("movie_bg.jpg") center no-repeat;
    background-size: cover;
    height: 40vh;
    text-align: right;
    padding-right: 5%;
    padding-top: 3%
}

.header h1 {
    color: white;
    font-size: 50px;
}

.header h3 {
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.main_content {
    text-align: center;
}

.btn-success {
    background-color: purple;
    border-color: purple;
    margin: 5px;
}

.btn-success:hover {
    background-color: black;
    border-color: black;
}

.btn-warning {
    background-color: orange;
    border-color: orange;
    margin: 5px;
}

.results{
    position: relative;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.results_info {
    position: absolute;
    top: 10px;
}

.poster_img,
.placeholder_img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
}

#results_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.results:hover #results_info {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.pagination_center {
    text-align: center;
}

#pagination {
    display: inline-block;
}

#pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

#pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

#pagination button:hover:not(.active) {background-color: #ddd;}


@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 65px;
    }

    .header h3 {
        padding-top: 5px;
        font-size: 30px;
    }
}
