/*font-family: 'Bangers', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.display_none {
    display: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1{
    font-family: 'Titan One', cursive;
}

.search,
.movie_detail{
    width:100vw;
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.header {
    background: url("http://media.jinni.com/solutions/images/solutions_headerBg_with_banner.png") center no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    padding-right: 5%;
    padding-top: 3%
}

.header_specific {
    background: url("specific_movie_bg.jpg") center no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    padding-right: 5%;
    padding-top: 3%
}

.header h1,
.header_specific h1{
    font-size: 50px;
    font-weight: 100;
    color: #C83725;
    text-shadow: 1px 1px black;
    vertical-align: middle;
    line-height: 40vh; 
}

.specific_content {
    margin: 20px;
}

.specific_content .col-sm-4 {
    text-align: center;
}

.header h2 {
    color: white;
    margin-top: -50px;
}

.header h4 {
    padding-top: 50px;
    font-size: 20px;
    color: white;
}

.main_content {
    text-align: center;
}

.genre_select h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}


.btn-success {
    background-color: gray;
    border-color: gray;
    margin: 5px;
}

.btn-success:hover {
    background-color: #C83725;
    border-color: #C83725;
}

.btn-warning {
    background-color: #C83725;
    border-color: #C83725;
    margin: 5px;
}

.results{
    position: relative;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.results_info {
    position: absolute;
    top: 10px;
}

.poster_img,
.placeholder_img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
}

.specific_img img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.fa-arrow-circle-left {
    color: gray;
    margin: 20px;
}

#results_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.results:hover #results_info {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.pagination_center {
    text-align: center;
}

#pagination {
    display: inline-block;
}

#pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

#pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

#pagination button:hover:not(.active) {background-color: #ddd;}


@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 65px;
    }

    .header h3 {
        padding-top: 5px;
        font-size: 30px;
    }
}
